LWSwnS/.vs/
LWSwnS/LWSwnS.Core/obj/
LWSwnS/LWSwnS/obj/
.vs/
LWSwnS/LWSwnS.Core/bin/
LWSwnS/LWSwnS/bin/
/LWSwnS/LWSwnS.Configuration/obj
/LWSwnS/LWSwnS.Api/obj
/LWSwnS/LWSwnS.Configuration/bin/
/LWSwnS/LWSwnS.Api/bin/
/LWSwnS/SimpleBlogModule/obj/
/LWSwnS/SimpleBlogModule/bin/
/LWSwnS/SimpleBlogModule/obj
/LWSwnS/LWSwnS.ShellClient/bin
/LWSwnS/LWSwnS.ShellClient/obj
/LWSwnS/PowerShellModule/bin/
/LWSwnS/PowerShellModule/obj
/LWSwnS/MarkdownFileModule/obj
/LWSwnS/MarkdownFileModule/bin/
/LWSwnS/BinaryFileTransmission/obj
/LWSwnS/SimpleGitViewer/bin/
/LWSwnS/SimpleGitViewer/obj
/LWSwnS/LWSwnS.Diagnostic/bin/
/LWSwnS/LWSwnS.Diagnostic/obj
/LWSwnS/FileReceiever/obj
/LWSwnS/LWSwnS.WebPage/obj
/LWSwnS/LWSwnS.WebPage/bin/
/LWSwnS/Tests.CEPTest/obj/
/LWSwnS/Tests.CEPTest/bin/
/LWSwnS/Tests.CEPTest/obj
/LWSwnS/CodeEmbededPageModule/obj
/LWSwnS/Tests.CEPTest/bin/
/LWSwnS/LWSwnS.WebPage/bin/
/LWSwnS/LWSwnS.Api/bin/
/LWSwnS/LWSwnS.Configuration/bin/
/LWSwnS/LWSwnS.Diagnostic/bin/
/LWSwnS/LWSwnS.WebPage/bin/
/LWSwnS/Tests.CEPTest/bin/
/LWSwnS/ModuleManger/obj
/LWSwnS/WikiModule/obj
/LWSwnS/LWSwnS.Globalization/obj
/LWSwnS/LWSwnS.Globalization/bin
/LWSwnS/BasicCommandModule/obj
/LWSwnS/DirectoryModule/obj
