LWSwnS/.vs/
LWSwnS/LWSwnS.Core/obj/
LWSwnS/LWSwnS/obj/
.vs/
LWSwnS/LWSwnS.Core/bin/
LWSwnS/LWSwnS/bin/
/LWSwnS/LWSwnS.Configuration/obj
/LWSwnS/LWSwnS.Api/obj
/LWSwnS/LWSwnS.Configuration/bin/Debug/netstandard2.0
/LWSwnS/LWSwnS.Api/bin/Debug/netstandard2.0
/LWSwnS/SimpleBlogModule/obj/Debug/netstandard2.0
/LWSwnS/SimpleBlogModule/bin/Debug/netstandard2.0
/LWSwnS/SimpleBlogModule/obj
/LWSwnS/LWSwnS.ShellClient/bin
/LWSwnS/LWSwnS.ShellClient/obj
/LWSwnS/PowerShellModule/bin/Debug/netcoreapp3.0
/LWSwnS/PowerShellModule/obj
/LWSwnS/MarkdownFileModule/obj
/LWSwnS/MarkdownFileModule/bin/Debug/netstandard2.0
/LWSwnS/BinaryFileTransmission/obj
/LWSwnS/SimpleGitViewer/bin/Debug/netstandard2.0
/LWSwnS/SimpleGitViewer/obj
/LWSwnS/LWSwnS.Diagnostic/bin/Debug/netstandard2.0
/LWSwnS/LWSwnS.Diagnostic/obj
/LWSwnS/FileReceiever/obj
/LWSwnS/LWSwnS.WebPage/obj
