LWSwnS/.vs/
LWSwnS/LWSwnS.Core/obj/
LWSwnS/LWSwnS/obj/
.vs/
LWSwnS/LWSwnS.Core/bin/
LWSwnS/LWSwnS/bin/
/LWSwnS/LWSwnS.Configuration/obj
/LWSwnS/LWSwnS.Api/obj
/LWSwnS/LWSwnS.Configuration/bin/Debug/netstandard2.0
/LWSwnS/LWSwnS.Api/bin/Debug/netstandard2.0
/LWSwnS/SimpleBlogModule/obj/Debug/netstandard2.0
/LWSwnS/SimpleBlogModule/bin/Debug/netstandard2.0
/LWSwnS/SimpleBlogModule/obj
